<!DOCTYPE html>
<html>
    <head>
     
        <title >
            PW-Proiect 2
        </title>
    </head>
    <body style="background-color: gainsboro;" >
        <header >
                       
        </header>
        <main style="background-color:burlywood;">
        <h1>  Bine ai venit,<%-utilizator-%>.</h1>
            <a href="/autentificare" >Autentificare</a>
        </main>
        <footer>

        </footer>
    </body>
</html>

