<!DOCTYPE html>
<html>
    <head>
        <title>
            PW-Proiect 2
        </title>
    </head>
    <body>
        <header>
            ...
        </header>
        <main>
            <%- body -%>
        </main>
        <footer>

        </footer>
    </body>
</html>