<!DOCTYPE html>
<html>
    <head>
     
        <title >
            PW-Proiect 2
        </title>
    </head>
    <body style="background-color: gainsboro;" >
        <header >
                       
        </header>
        <main style="background-color:burlywood;">
            <%- body -%>
        </main>
        <footer>

        </footer>
    </body>
</html>