<header >
              
          <% if(utilizator!=null) {%>
          <h1 class="log">
             Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
             <form action="logout" method="get">
                <input type="submit" value="logout" class="btnlogout" /> 
             </form>
          </h1>

          <%} %>
        
</header>

        <main>
        <h1 class="titlu">
            Cos cumparaturi
        </h1>

       
        </main>
        
        <footer>

        </footer>

