<header >
              
          <% if(utilizator!=null) {%>
          <h1 class="log">
             Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
             <form action="logout" method="get">
                <input type="submit" value="logout" class="btnlogout" /> 
             </form>
          </h1>

          <%} %>
        
</header>

        <main>
        <h1 class="titlu">
            Cos cumparaturi
        </h1>

        <div class="nav1">
        <a href="/index" >Home </a> 
        <a href="/autentificare"  >Autentificare</a>    
        <a href="/chestionar">Chestionar</a>   
        <a href="/vizualizare-cos" >Cos</a>   
        </div>     
            
        </main>
        
        <footer>

        </footer>

